.wrapper {
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;

}

.item {
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    flex-direction: column;
    border-radius: 20px;
    background-color: #93a4ec;
    cursor: pointer;
}

.name {
    height:7rem;
    width:15rem;
    margin-top: 2rem;
    background-color: #aa5ec6;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.fields{
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}