
.name {
    margin-left: 0.5rem;
}


.landing {
    background: linear-gradient(to bottom, #ff00dd, #61dafb);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
}

.creation_container {
    background: linear-gradient(to bottom, #61dafb, #49d245);
}


.creation {
    display: flex;
    width: 70vw;
    margin: 0 auto;
    padding: 2rem 0;
}

.creation_text {
    flex: 1;
    padding-right: 1rem;
    font-size: 1.3rem;
    align-self: center;
}

.creation_text > h2 {
    margin-bottom: 0.8rem;
}

.create_quiz_image {
    width: 45vw;
    aspect-ratio: 15/9;
    border-radius: 50%;
    flex: 1;

}

.create_quiz_image_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.creation_desc {
    text-align: left;
}

.share_container {
    background: linear-gradient(to bottom, #49d245, #e9e6ec);
}

.share {
    display: flex;
    width: 70vw;
    margin: 0 auto;
    padding: 1rem 0 2rem 0;
}

.share_text {
    flex: 1;
    padding-right: 1rem;
    font-size: 1.3rem;
    align-self: center;
}

.share_text > h2 {
    margin-bottom: 0.8rem;
}

.share_desc {
    text-align: left;
}

.share_quiz_image {
    width: 35vw;
    aspect-ratio: 12/9;
    border-radius: 50%;
    flex: 1;

}

.share_quiz_image_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

:root {
    --footer-color: #263d98;
    --icon-size: 25px;
    --header-height: 10vh;
}


/* MEDIA QUERIES FOR <576 */

@media (max-width: 576px) {

    .creation {
        width: 80vw;
        display: block;
        padding-top: 1rem;
    }

    .share {
        width: 80vw;
        display: block;
        padding-top: 1rem;
    }

    .create_quiz_image {
        width: 80vw;
        margin-top: 1rem;
    }


    .creation_text {
        font-size: 1rem;
        text-align: center;
    }

    .creation_desc {
        text-align: center;
    }

    .share_quiz_image {
        width: 80vw;
        margin-top: 1rem;
    }


    .share_text {
        font-size: 1rem;
        text-align: center;
    }

    .share_desc {
        text-align: right;
    }

    .landing {
        font-size: 1rem;
        text-align: center;
    }

}


/* MEDIA QUERIES FOR 576 - 768 */

@media (min-width: 576px) and (max-width: 768px) {

    .creation {
        width: 85vw;
    }

    .share {
        width: 85vw;
    }

    .create_quiz_image {
        width: 48vw;
    }

    .creation_text {
        font-size: 1.1rem;
    }

    .share_quiz_image {
        width: 48vw;
    }

    .share_text {
        font-size: 1.1rem;
    }

    .landing {
        font-size: 1.2rem;
    }

}


/* MEDIA QUERIES FOR 768 - 991 */

@media (min-width: 768px) and (max-width: 991px) {

    .creation {
        width: 80vw;
    }

    .share {
        width: 80vw;
    }

    .create_quiz_image {
        width: 45vw;
    }

    .creation_text {
        font-size: 1.1rem;
    }

    .share_quiz_image {
        width: 45vw;
    }

    .share_text {
        font-size: 1.1rem;
    }

    .landing {
        font-size: 1.3rem;
    }

}


/* MEDIA QUERIES FOR 991 - 1200 */

@media (min-width: 991px) and (max-width: 1200px) {

    .create_quiz_image {
        width: 40vw;
    }

    .creation_text {
        font-size: 1.2rem;
    }

    .share_quiz_image {
        width: 40vw;
    }

    .share_text {
        font-size: 1.2rem;
    }

    .landing {
        font-size: 1.5rem;
    }

}


/* MEDIA QUERIES FOR 1200 - 1400 */

@media (min-width: 1200px) {

    .create_quiz_image {
        width: 35vw;
    }

    .creation_text {
        font-size: 1.2rem;
    }

    .share_quiz_image {
        width: 40vw;
    }

    .share_text {
        font-size: 1.2rem;
    }

    .landing {
        font-size: 1.7rem;
    }
}


/* MEDIA QUERIES FOR 1400+ */

@media (min-width: 1400px) {

    .creation_text {
        font-size: 1.5rem;
    }

    .create_quiz_image {
        width: 40vw;
    }

    .share_quiz_image {
        width: 40vw;
    }

    .share_text {
        font-size: 1.7rem;
    }

    .landing {
        font-size: 2rem;
    }
}